
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Write Cookie", "WriteCookie", "Cookie")</li>
    <li>@Html.ActionLink("Read Cookie", "ReadCookie", "Cookie")</li>
    <li>@Html.ActionLink("Write Session", "WriteSession", "Session")</li>
    <li>@Html.ActionLink("Read Session", "ReadSession", "Session")</li>
    <li>@Html.ActionLink("Write TempData", "WriteTempData", "TempData")</li>
    <li>@Html.ActionLink("Read TempData", "ReadTempData", "TempData")</li>
    <li>@Html.ActionLink("Read Cache", "ReadCache", "Cache")</li>
</ul>
